<div class="main-container">
  <div class="header">
  <!-- <img src="assets/Logo.svg" alt="Cordant™ logo" class="header-logo-svg"> -->
  <h1 style="color: #FFFFFF;">Cordant™</h1>
</div>

<div class="main-container">

<div class="system-img">
  <!-- <img src="assets/Illustration.svg" alt="System Image" class="system-img"> -->
</div>

<div class="text-container">
  <div class="message">System under maintenance </div>
  <br><br>
  <div class="time">We are under maintenance and we will be back at <br>{{maintenanceEndTime}}</div>
  <p class="text">You won't be able to access any Cordant™ application during this time!</p>
  <p class="links">Maintenance Over? <a href="javascript:location.reload();">Reload page</a></p>
  <p class="links">For all technical issues, requests and queries, <a [href]="contactURL">contact us</a>.</p>
</div>
</div>

<div class="footer">
  <div class="footer1">
    <div class="footer-logo-svg"></div>
    <p class="mark">©2025 Baker Hughes Company</p>
  </div>
  <div class="footer2">
    <!-- <p class="footer-links"> -->
      <a href="https://www.bakerhughes.com/terms">Terms</a>
      <a href=" https://www.bakerhughes.com/privacy">Privacy notice</a>
    <!-- </p>  -->
  </div>
</div>
</div>